# Required Vars
API_HASH=366347107f54aabc951cfa9d3c2fb2ce
API_ID=10115546
BOT_TOKEN=7483230333:AAG04p0WSD7n3B9doqfgMVfPpBxgj1JQ8s4
DATABASE_URI=mongodb+srv://iteasy05:AS2ftxVxjQSWkQbE@cluster0.chw2i.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOG_CHANNEL=

# Optional Vars
SUDO=617426792
DATABASE_NAME=MissKatyDB
SUPPORT_CHAT=ChannelImman
COMMAND_HANDLER=
USER_SESSION=
OPENAI_API=
BARD_API=
CURRENCY_API=
